/* styling */
:root {
  --main-color: rgb(0, 1, 0);
}
#additional-info p:hover {
  color: #ffa07a; 
  cursor: pointer; 
}
input[type="text"] {
  color: inherit;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#additional-info p:active {
  color: #ff4500; 
  transform: scale(0.98);
  transition: transform 0.1s; 
}
/* universal*/
* {
  margin: 0;
}
/* Color Name */
header{
  padding: 1rem;
  text-align:center;
}
header h1 {
  color: blue;
  font-size: 5em;
}

header p {
  margin-bottom: 1rem;
  color: hsla(173, 100%, 50%, 1)
}

/* Wider-gamut Color*/
/* CSS variables and fallbacks */
/* background color */
/* text */
#agenda h2 {
  color: color-mix(in srgb, #95333d, #e01065 34%);
  background-color: var(--main-color, #008E98);
  padding: 10px;
  text-decoration: underline;
  text-align: center;
  border-style: solid; 
  border-color: #000; 
  border-width: 2px; 
  border-radius: 10px; 
  border-style: solid; 
  border-color: #000; 
  border-width: 2px; 
  border-radius: 10px; 
}

#agenda p{
  display: block;
  font-size: 0.25in;
}
  
/*Margin*/
/*Padding*/
#audio {
  margin-top: .2vh;
  margin-right: 1in;
  margin-left: 2pc;
  margin-bottom: .05vh;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  height: 100px;
  width: 400px;
}

#video {
  position: static;
  margin: 50px 50px 50px 50px;
  padding: 10px 10px 10px 10px;
  max-width: 2500px;
  min-width: 400px;
}

#attendees ol li {
  display: block;
}

nav {
  position: fixed;
  top: 0; 
  right: 0; 
  max-width: 10%; 
}

nav li{
  display: inline;
  margin-right: 0.5rem;
}

/* Layouts */
.layouts-container {
  display: block; 
  margin: 0 auto;
  max-width: 1200px; 
  padding: 15px; 
}

@media screen and (max-width: 768px){
  nav {
    max-width: 100%;
  }
  .layouts-container {
    justify-content: center;
  }
  .flex-item, .grid-item {
    width: 100%; 
  }
}
#agenda li {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400; 
  font-style: normal; 
}
nav > ul > li {
  font-style: normal; 
}
section ~ div {
  background-color: transparent; 
}
section > header + p {
  margin-top: 0; 
}
div.flex-example {
  display: flex; 
}
p:has(> a) {
  font-size: 1rem; 
}
